 h1 { color: #a6780a; font-weight: normal; } 
 h2 { color: #a6780b; font-weight: normal; } 
body {
    background-color: lightblue;
}
div {
    background-color: lightgrey;
    width: 300px;
    border: 25px solid gray;
    padding: 25px;
    margin: 25px;
}
